<nav class="top-bar">
<ul>
  <!-- Title Area -->
  <li class="name">
    <h1>
      {{#linkTo index}}
        <img src="images/logo.png" height="40" width="40">
          {{#if id}}Edit {{name}}{{else}}New Collection{{/if}}
      {{/linkTo}}
    </h1>
  </li>
</ul>
</nav>

{{view Ember.TextField valueBinding="name" placeholder="What are you collecting?"}}
{{view Ember.TextArea valueBinding="description" placeholder="Anything special about it?"}}
<button type="submit" class="button" {{action saveCollection target="controller"}}>
  {{#if id}}Update{{else}}Create Collection{{/if}}
</button>
